.body {
    background: linear-gradient(to top right, green, yellow);
    background-repeat: no-repeat;   
    background-size: cover, auto;
}

.h1 {
    text-align: center;
    color: rgb(239, 240, 239) ;
}

.footer {
    text-align: center;
    font-size: large;
}